@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
  font-family:'Roboto', sans-serif;
  font-size: 15px;
  color: #8e0101;
  cursor: pointer;
}
a:hover {
  color: #4e0101;
  text-decoration: underline;
}

footer {
  margin-bottom: 2.5%;
}

header > a {
  float: left;
  margin-left: 5.2%;
}

a2 {
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  color: #8e0101;
  cursor: pointer;
}
a2:hover {
  color: #4e0101;
  text-decoration: underline;
}

h1 {
  font-family: 'Fredoka', sans-serif;
  font-size: 32px;
}

h2 {
  font-family: 'Fredoka', sans-serif;
  font-size: 28px;
}

h3 {
  text-align: left;
  font-family: 'Fredoka', sans-serif;
  font-size: 32px;
}

h4 {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-size: 16px;
}

p1 {
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  color:#000000;
}

p2 {
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  color:rgba(0, 0, 0, 0.68);
}

p3 {
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  color: #8e0101;
  text-decoration-line: underline;
}

p4 {
  font-family:'Roboto', sans-serif;
  font-size: 15px;
  color: #8e0101;
  text-decoration-line: underline;
}

button {
  border-radius: 4px;
  border: 1px solid rgb(62, 41, 41);
  padding: 2px;
  width: 106px;
  height: 30px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #4e0101;
  background-color: rgba(255, 204, 153, 0.8);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #4e0101;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.buttonH {
  border-radius: 4px;
  border: 1px solid rgb(62, 41, 41);
  background-color: rgba(255, 204, 153, 0.8);
  width: 137px;
  height: 137px;
  cursor: pointer;
}
.buttonH:hover {
  border-color: #4e0101;
}

button2 {
  border-radius: 4px;
  border: 1px solid rgb(62, 41, 41);
  padding: 2px;
  width: 230px;
  height: 30px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #4e0101;
  background-color: rgba(255, 204, 153, 0.8);
  cursor: pointer;
  transition: border-color 0.25s;
}
button2:hover {
  border-color: #4e0101;
}
button2:focus,
button2:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.68);
  padding-left: 10px;
  width: 237px;
  height: 29px;
  text-align:left;
}
input::placeholder{
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  color:rgba(0, 0, 0, 0.68);
  text-align:left;
}
input:focus{
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  color:black;
  text-align:left;
}
input:required{
  border-color: #8e0101;
}
input:invalid{
  border-color: #8e0101;
}

textarea {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.68);
  padding-left: 10px;
  width: 237px;
  height: 179px;
  text-align:left;
  resize: none;
}
textarea::placeholder{
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  color:rgba(0, 0, 0, 0.68);
  text-align:left;
}
textarea:focus{
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  color:black;
  text-align:left;
}
textarea:required{
  border-color: #8e0101;
}
textarea:invalid{
  border-color: #8e0101;
}

html{background-image: linear-gradient(to right, #0099ff,#ffcc99cc);}

body {
  margin: 0;
  display: flow;
  place-items: center;
  min-width: 360px;
  min-height: 640px;
  overflow: scroll;
}

figure {
  margin: 0;
}

article{
  margin: 0;
}

.card {
  margin: 0 auto;
  float: none; 
  border-radius: 12px;
  border: 1px solid black;
  padding: 38px 26px;
  width: 226px;
  height: 195px;
  background-color: rgb(0, 153, 255);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.left {
  transform: rotate(135deg);
}

#app {
  max-width: 100%;
  margin: 0px;
  
  text-align: center;
}

.imgRedonda {
  width:200px;
  height:200px;
  border-radius:150px;
}

.imgList {
  width:50px;
  height:50px;
  border-radius:150px;
  margin-right: 15px;
  vertical-align: middle;
}

.imgList2 {
  width:15px;
  height:15px;
  border-radius:50px;
  margin-right: 15px;
  vertical-align: middle;
}

.imgLogo {
  max-width:200px;
  max-height:200px;
  border-radius:10px;
  margin-right: 15px;
}

.grid-container {
  display: grid;
  padding: 20px 5%;
  row-gap: 20px;
}

.grid-container > div {
  background-color:rgba(255, 204, 153, 0.8);
  border: 1px solid black;
  text-align: left;
  padding: 20px;
  font-size: 24px;
  font-family: 'Fredoka', sans-serif;
  line-height: 0px;
}

.grid-container > div > p {
  display: inline;
}

.grid-container > div > input[type=checkbox] {
  float: right;
  margin-top: 1.2%;
}

.grid-container > div > button {
  float: right;
  background-color: white;
  border: 1px solid black;
  height: 50px;
  width: 80px;
  margin-right: 2px;
  margin-left: 2px;
  font-size: 15px;
  font-family: 'Fredoka', sans-serif;
  color: black;
}

.grid-container > div > a >button {
  float: right;
  background-color: white;
  border: 1px solid black;
  height: 50px;
  width: 80px;
  margin-right: 2px;
  margin-left: 2px;
  font-size: 15px;
  font-family: 'Fredoka', sans-serif;
  color: black;
}

.topText {
  overflow: hidden;
  background-color: rgb(0, 153, 255);
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid black;
}

.topText h1 {
  float: left;
  color: white;
  text-align: left;
  padding-left: 20px;
  text-decoration: none;
  font-size: 50px;
}
.appTitle {
  overflow: hidden;
}

.appTitle h1 {
  text-align: center;
  text-decoration: none;
}

.appTitle h2 {
  margin-left: 55px;
  text-align: left;
  text-decoration: none;
}

.appTitle > p1 {
  margin-left: -200px;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
}

.appText {
  overflow: hidden;
  margin-left: 55px;
  text-align: left;
  text-decoration: none;
}

.appText2 {
  overflow: hidden;
  margin-left: 90px;
  text-align: left;
  text-decoration: none;
}

.searchContainer {
  margin-right: 5%;
  margin-left: 5%;
  padding: 8px;
  
}

.searchContainer > input[type=text] {
  float: left;
  padding: 6px;
  font-size: 17px;
  width: 90%;
  background-color: white;
}

.searchContainer > button {
  width: 5%;
  float: right;
  background: rgb(0, 153, 255);
  color: white;
  font-size: 17px;
  cursor: pointer;
  min-height: 44px;
}

.searchContainer2 {
  margin-left: 40px;
  float: none;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px;
  grid-template-columns: auto;
  grid-gap: 0px;
  width: 300px;
  background-color: #0099ff;
  border: 1px solid black;
  border-radius: 4px;
}
.searchContainer2 > h2{
  color: white;
  font-size: 20px;
}

/*.searchContainer2 > input[type=text] {
  padding-left: 10px;
  padding: 2px;
  width: 237px;
  height: 29px;
  background-color: white;
}

.searchContainer2 > button {
  width: 30px;
  height: 35px;
  margin-left: 15px;
  background: rgb(0, 153, 255);
  color: white;
  cursor: pointer;
}*/

.inputContainer {
  margin: 0 auto;
  float: none; 
}

.inputContainer > input {
  padding: 6px;
  background-color: white;
}

.inputContainer > input[type=date] {
  padding: 6px;
  color: rgba(0, 0, 0, 0.68);
  background-color: white;
}

.inputContainer > textarea {
  padding: 6px;
  color: rgba(0, 0, 0, 0.68);
  background-color: white;
}

.inputContainer > button {
  cursor: pointer;
}

.custom::-webkit-file-upload-button {
  visibility: hidden;
}
.custom::before {
  content: '+ Add your profile picture';
  border-radius: 4px;
  border: 1px solid transparent;
  width: 237px;
  height: 29px;
  font-size: 20px;
  font-family:'Roboto', sans-serif;
  color:rgba(0, 0, 0, 0.68);
  text-align:left;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
.custom:hover::before {
  border-color: transparent;
}
.custom:focus::before,
.custom:focus-visible::before {
  outline: 4px auto -webkit-focus-ring-color;
}

.buttonHome {
  margin-left: 40px;
  float: none;
  display: grid;
  grid-template-columns: 137px 137px;
  grid-template-rows: 137px 137px;
  grid-gap: 10px;
}

.listContainer{
  margin-left: 55px;
}
.listContainer > img{
  padding: 2px;
}

.listContainer > a2{
  padding: 2px;
}

.listContainer2{
  margin-left: 45px;
}
.listContainer2 > img{
  padding: 2px;
}

.listContainer2 > a2{
  padding: 0px;
}

.arrowContainer {
  padding-left: 55px;
}

.column {
  float: left;
  width: 100%;
  padding: 0;
  margin: auto;
}

.profileGrid {
  display: grid;
  grid-template-columns: 5% auto 5%;  
  grid-template-rows: 360px auto;
  gap: 10px;
}

.elementsGrid {
  display: grid;
  grid-template-columns: 5% auto 5%;  
  grid-template-rows: auto;
  gap: 10px;
}

.profileMain {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #0099ff;
  border: 1px solid black;
}

.profileMain > h1 {
  color: white;
  text-decoration: none;
  font-size: 50px;
}

a {
  text-decoration: none;
}

button3 {
  padding-top: 23px;
  display: block;
  border: 1px solid transparent;
  color: #4e0101;
  font-style: normal;
  height: 50px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(255, 204, 153, 0.8);
  cursor: pointer;
  transition: border-color 0.25s;
}
button3:hover {
  border-color: transparent;
}
button3:focus,
button3:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.profileItem0 {
  grid-column: 2/3;
  grid-row: auto;
  vertical-align: baseline;
  background-color: rgba(255, 204, 153, 0.8);
  height: 75px;
  border: black 1px solid;
}

.profileItem1 {
  grid-column: 2/3;
  grid-row: 2;
  vertical-align: baseline;
  background-color: rgba(255, 204, 153, 0.8);
  height: 75px;
  border: black 1px solid;
}

.profileItem2 {
  grid-column: 2/3;
  grid-row: 3;
  background-color: rgba(255, 204, 153, 0.8);
  height: 75px;
  border: black 1px solid;
}

.profileItem3 {
  grid-column: 2/3;
  grid-row: 4;
  background-color: #ffcc99cc;
  height: 75px;
  border: black 1px solid;
}

.profileItem4 {
  grid-column: 2/3;
  grid-row: 5;
  background-color: rgba(255, 204, 153, 0.8);
  height: 75px;
  border: black 1px solid;
}
/*
.profileItem1 {
  grid-column: 2/3;
  grid-row: 6;
  background-color: rgba(255, 204, 153, 0.8);
  height: 75px;
  border: black 1px solid;
}

.profileItem1 {
  grid-column: 2/3;
  grid-row: 7;
  background-color: rgba(255, 204, 153, 0.8);
  height: 75px;
  border: black 1px solid;
}

*/
/* Chat */

.conteiner{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.chatbox{
  background: #306ec5;
  width: 60%;
  min-width: 250px;
  display: 	flex;

}
.chatbox h2{
  font-family: 'Fredoka', sans-serif;
  font-size: 28px;

}
.chatbox p{
  font-family:'Roboto', sans-serif;
  font-size: 20px ;
  color:#000000
}
.col-1{
  flex: 1;
}

.col-2{
 flex-basis: 250px;
 background:rgb(239, 164, 89);

  flex-basis: 250px;
}

.msg-row{
  display: flex;
  align-items: center;
  margin: 40px;

  flex-basis: 70% ;
}

.msg-text{
  background: #ffcc99cc;
  padding: 20px 40px;
  border-radius: 8px;
  flex-basis: 60%;
  font-weight: 300;
}

.msg-text h2{
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 10px;
  text-align:left;
}
.msg-text p{
  color: #fff;
  text-align:left;
}
.msg-img{
  width: 50px;
  border-radius: 50%;
  margin: 0 20xp;
}
.msg-row2{

  justify-content: flex-end;
}
.col-1 input{
  border: 0;
  outline: none;
  padding: 20px 40px;
  background: #fff;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
}

::placeholder{
  color: #fff;
  
}

.col-2 h3{
  text-align:center;
  margin-top: 40px;
  font-weight: 400;
}
.col-2 ul{
  text-align:left;
  list-style: none ;
  padding: 30px;
}
.col-2 ul li{
    padding: 5px 0;
    font-family: 'Fredoka', sans-serif
}
.col-2 ul li::before{
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  display: inline-block;
  margin-right: 10px;

}
/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  span1 {
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    color:#000000;
  }
  

  
}*/

span1 {
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  color:#000000;
}

/*Definitive media query*/
@media only screen and (min-width: 640px) {
  h2 {
    font-family: 'Fredoka', sans-serif;
    font-size: 48px;
  }

  p1 {
    font-family:'Roboto', sans-serif;
    font-size: 32px;
    color:#000000;
  }
  
  p2 {
    font-family:'Roboto', sans-serif;
    font-size: 32px;
    color:rgba(0, 0, 0, 0.68);
  }

  .imgLogo {
    max-width:332px;
    max-height:332px;
    border-radius:100px;
    margin-right: 15px;
  }

  .appTitle {
    overflow: hidden;
  }
  
  .appTitle h1 {
    text-align: center;
    text-decoration: none;
    font-size: 64px;
  }
  
  .appTitle h2 {
    text-align: left;
    margin-left: 465px;
    text-decoration: none;
    font-size: 48px;
  }

  .appTitle > p1 {
    margin-left: -465px;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
  }

  .inputContainer {
    margin: 0 auto;
    float: none; 
  }
  
  .inputContainer > input {
    padding: 6px;
    background-color: white;
    width: 580px;
    height: 42px;
    font-size: 32px;
  }
  
  .inputContainer > input::placeholder {
    font-family:'Roboto', sans-serif;
    font-size: 32px;
    color:rgba(0, 0, 0, 0.68);
    text-align:left;
  }

  .inputContainer > input[type=date] {
    padding: 6px;
    color: rgba(0, 0, 0, 0.68);
    background-color: white;
    width: 580px;
    height: 42px;
    font-size: 32px;
  }
  .inputContainer > textarea {
    padding: 6px;
    color: rgba(0, 0, 0, 0.68);
    background-color: white;
    width: 580px;
    height: 246px;
    font-size: 32px;
  }
  
  .inputContainer > textarea::placeholder {
    font-family:'Roboto', sans-serif;
    font-size: 32px;
    color:rgba(0, 0, 0, 0.68);
    text-align:left;
  }

  .inputContainer > button {
    cursor: pointer;
  }

  .custom::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom::before {
    content: '+ Add your profile picture';
    border-radius: 4px;
    border: 1px solid transparent;
    width: 580px;
    height: 42px;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color:rgba(0, 0, 0, 0.68);
    text-align:left;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .custom:hover::before {
    border-color:transparent;
  }
  .custom:focus::before,
  .custom:focus-visible::before {
    outline: 4px auto -webkit-focus-ring-color;
  }

  button {
    border-radius: 4px;
    border: 1px solid rgb(62, 41, 41);
    padding: 2px;
    width: 259px;
    height: 43px;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: #4e0101;
    background-color: rgba(255, 204, 153, 0.8);
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #4e0101;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  a2 {
    font-family:'Roboto', sans-serif;
    font-size: 32px;
    color: #8e0101;
    cursor: pointer;
  }
  a2:hover {
    color: #4e0101;
    text-decoration: underline;
  }

  .arrow {
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    cursor: pointer;
  }
  
  .left {
    transform: rotate(135deg);
  }
  
  .arrowContainer {
    padding-left: 250px;
  }

  .card {
    margin: 0 auto;
    float: none; 
    border-radius: 12px;
    border: 1px solid black;
    padding: 58px 46px;
    width: 669px;
    height: 472px;
    background-color: rgb(0, 153, 255);
  }
  
  .listContainer{
    margin-left: 460px;
  }
  .listContainer > img{
    padding: 2px;
  }
  
  .listContainer > a2{
    padding: 2px;
    font-size: 32px;
  }

  .listContainer2{
    margin-left: 460px;
  }
  .listContainer2 > img{
    padding: 2px;
  }
  
  .listContainer2 > a2{
    padding: 2px;
  }
  
  .imgList {
    width:70px;
    height:70px;
    border-radius:150px;
    margin-right: 15px;
  }

  .imgList2 {
    width:40px;
    height:40px;
    border-radius:90px;
    margin-right: 15px;
    vertical-align: middle;
  }

  .appText {
    overflow: hidden;
    margin-left: 465px;
    text-align: left;
    text-decoration: none;
  }

  .appText2 {
    overflow: hidden;
    margin-left: 500px;
    text-align: left;
    text-decoration: none;
  }

  .buttonHome {
    margin-left: 440px;
    float: none;
    display: grid;
    grid-template-columns: 230px 230px;
    grid-template-rows: 230px 230px;
    grid-gap: 20px;

  }

  .buttonH {
    border-radius: 4px;
    border: 1px solid rgb(62, 41, 41);
    background-color: rgba(255, 204, 153, 0.8);
    width: 230px;
    height: 230px;
    cursor: pointer;
  }
  .buttonH:hover {
    border-color: #4e0101;
  }

  .column {
    float: left;
    width: 50%;
    padding: 0;
    margin: auto;
  }
  button2 {
    border-radius: 4px;
    border: 1px solid rgb(62, 41, 41);
    padding: 2px;
    width: 417px;
    height: 54px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #4e0101;
    background-color: rgba(255, 204, 153, 0.8);
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button2:hover {
    border-color: #4e0101;
  }
  button2:focus,
  button2:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  span1 {
    font-family:'Roboto', sans-serif;
    font-size: 40px;
    color:#000000;
  }

  .grid-container > div > button {
    float: right;
    background-color: white;
    border: 1px solid black;
    height: 50px;
    width: 150px;
    padding: 20px;
    font-size: 20px;
    line-height: 0px;
    font-family: 'Fredoka', sans-serif;
    color: black;
  }

  .grid-container > div > a > button {
    float: right;
    background-color: white;
    border: 1px solid black;
    height: 50px;
    width: 150px;
    padding: 20px;
    font-size: 20px;
    line-height: 0px;
    font-family: 'Fredoka', sans-serif;
    color: black;
  }

  .searchContainer2 {
    margin-left: 450px;
    float: none;
    display: grid;
    grid-template-rows: 80px 80px 80px 80px 80px;
    grid-template-columns: auto;
    grid-gap: 0px;
    width: 650px;
    background-color: #0099ff;
    border: 1px solid black;
    border-radius: 4px;
  }
  .searchContainer2 > h2{
    color: white;
    font-size: 32px;
  }
  
}
