@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
  font-family:'Roboto', sans-serif;
  font-size: 15px;
  color: #9E00D6;
  cursor: pointer;
}
a:hover {
  color: #3A014E;
  text-decoration: underline;
}

h1 {
  font-family: 'Fredoka', sans-serif;
  font-size: 32px;
}

h2 {
  font-family: 'Fredoka', sans-serif;
  font-size: 28px;
}

p1 {
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  color:#000000;
}

p2 {
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  color:rgba(0, 0, 0, 0.68);
}

p3 {
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  color: #9E00D6;
  text-decoration-line: underline;
}

p4 {
  font-family:'Roboto', sans-serif;
  font-size: 15px;
  color: #9E00D6;
  text-decoration-line: underline;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 2px;
  width: 106px;
  height: 30px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #3A014E;
  background-color: #C4C4C4;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #3A014E;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.68);
  padding-left: 10px;
  width: 312px;
  height: 29px;
  text-align:left;
}
input::placeholder{
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  color:rgba(0, 0, 0, 0.68);
  text-align:left;
}
input:focus{
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  color:black;
  text-align:left;
}
input:required{
  border-color: #9E00D6;
}
input:invalid{
  border-color: #9E00D6;
}

textarea {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.68);
  padding-left: 10px;
  width: 312px;
  height: 179px;
  text-align:left;
  resize: none;
}
textarea::placeholder{
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  color:rgba(0, 0, 0, 0.68);
  text-align:left;
}
textarea:focus{
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  color:black;
  text-align:left;
}
textarea:required{
  border-color: #9E00D6;
}
textarea:invalid{
  border-color: #9E00D6;
}

body {
  margin: 24px;
  display: flow;
  place-items: center;
  min-width: 360px;
  min-height: 640px;
  overflow: scroll;
}

.card {
  border-radius: 12px;
  border: 1px solid black;
  padding: 38px 26px;
  width: 226px;
  height: 195px;
  background-color: rgba(217, 217, 217, 0.3);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
